<h1>To Do List:</h1>
<h3>Tasks:</h3>

<ul>
    {{#each tasks}}
        {{#unless this.complete}}
            <li>
                {{this.task_name}}
                <br>

                 <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="completed" value="true">
                    <button type="submit" >Mark complete</button>
                </form>

            </li>
        {{/unless}}
    {{/each}}
</ul>

<h3>Completed Tasks</h3>
<ul>
    {{#each tasks}}
        {{#if this.complete}}
            <li>
                {{this.task_name}}
                <br>
                <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="completed" value="false">
                    <button type="submit">Mark incomplete</button>
                </form>
            </li>
        {{/if}}
    {{/each}}
</ul>

<h1>Add a Task</h1>
<form class="create-form" action="?" method="POST">
    <div>
        <label for="task">Task:</label>
        <input type="text" id="task">
    </div>

    <button type="submit">Add Task</button>
</form>

